.asideCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloCart {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #27Ae60;
    width: 290px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px 5px 0px 0px;
}

.tituloCart>h1 {
  margin-left: 15px;
}

@media screen and (min-width: 1024px){
  main{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .asideCart {
    width: 330px;
  }
  .tituloCart {
    width: 100%;
  }
}